body {
    background-color: white;
}

footer {
    margin-top: 10px;
    background: lightblue;
    padding: 10px;
    border: solid 1px black;
}

.container {
    background: lightblue;
    padding: 10px;
    border: solid 1px black;
}

.menu {
    display: flex;
    gap: 10px;
}